.heading=t_course_title(@course[:name],:Edit)
%ul.breadcrumb
  %li
    %a{:href=>url("/courses")}=t(:Courses)
  %li
    %a{:href=>url("/course/#{@course[:id]}")}=@course[:name]
  %li.active=t(:Edit)

%form{method:'post', action:url("/course/#{@course[:id]}/edit")}
  %div.list-group
    %div{:class=>"list-group-item"}
      %span{:class=>"titulo"}=t(:Id)
      %span{ :name=>"name"}=@course[:id]
    %div{:class=>"list-group-item"}
      %span{:class=>"titulo"}=t(:Name)
      %input{type:'textbox', name:'name', value: @course[:name], style:'width:50%'}
    %div{:class=>"list-group-item"}
      %span{:class=>"titulo"}=t(:Description)
      %input{type:'textbox', name:'description', value: @course[:description], style:'width:80%'}
    %div{:class=>"list-group-item"}
      %span{:class=>"titulo"}=t(:Active)
      %input{type:'checkbox', name:'active', checked:@course[:active]}


  %input.btn.btn-default{type:"submit", name:"save", value:t(:Save)}
