.heading=t_assessment_title(@assessment[:name],:View)
%ul.breadcrumb
  %li
    %a{:href=>url("/courses")}=t(:Courses)
  %li
    %a{:href=>url("/course/#{@assessment[:course_id]}")}=@assessment.course_name
  %li.active=@assessment[:name]

%div.list-group
  %div{:class=>"list-group-item"}
    %span{:class=>"titulo"}=t(:Id)
    %span{ :name=>"name"}=@assessment[:id]
  %div{:class=>"list-group-item"}
    %span{:class=>"titulo"}=t(:Name)
    %span{ :name=>"name"}=@assessment[:name]
  %div{:class=>"list-group-item"}
    %span{:class=>"titulo"}=t(:Description)
    =@assessment[:description]
  %div{:class=>"list-group-item"}
    %span{:class=>"titulo"}=t(:Active)
    =t_yes_no_nil(@assessment[:active])
- if auth_to('assessment_view')
  %div{:class=>"list-group-item"}
    %h4{:class=>"list-group-item-heading"}=t(:Teams)
    - if @assessment.teams
      %table.table
        %thead
          %th=t(:Team)
          %th=t(:Members)
          %th=t(:Responses)
          %th=t(:Completion)
        %tbody
        - @assessment.teams_completation_rate.each_pair do |team_id,team_data|
          %tr
            %td
              %a{:href=>url("/team/#{team_id}")}=team_data[:team_name]
            %td=team_data[:n_students]
            %td=team_data[:n_responses]
            %td=percent_from_proportion( team_data[:n_responses].to_f / team_data[:n_students]**2.to_f)

    - else
      %p
        %em=t(:No_teams)

- if auth_to("assessment_evaluate")
  =partial(:students_to_evaluate, :locals=>{user:@user, assessment:@assessment})
