%h2=title(t(:Courses))
- if auth_to("course_admin")
  %a.btn.btn-default{:href=>url("/course/new")}
    %span.glyphicon.glyphicon-plus-sign
    =t(:New_course)
%form{method:"get", action:url("courses")}
  .form_group
    %label{for:"course_status_id"}=t(:course_status)
    %select{name:"course_status", id:"course_status_id"}
      %option{value:"only_active", selected: (@course_status.nil? or @course_status=='only_active')}=t(:Only_active)
      %option{value:"only_inactive", selected: @course_status=='only_inactive'}=t(:Only_inactive)
      %option{value:"both_active_and_inactive", selected: @course_status=='both_active_and_inactive'}=t(:Both_active_and_inactive)
  %button.btn.btn-default{type:"submit"}=t(:Send)
%table.table.table-bordered
  %thead
    %th=t(:Id)
    %th=t(:Name)
    %th=t(:Description)
    %th=t(:Teacher)
    %th=t(:Active)
    %th=t(:Assessments)
    - if auth_to("course_admin")
      %th=t(:Actions)
  %tbody
    - @courses.each do |c|
      %tr
        %td=c.id
        %td
          %a{:href=>url("/course/#{c.id}")}=c.name
        %td=c.description
        %td=c.teacher_name
        %td=c.active
        %td
          - c_assessments=c.assessments
          - if c_assessments.count>0
            %ul
              - c_assessments.each do |assessment|
                %li
                  %a{:href=>url("/assessment/#{assessment.id}")}=assessment.name
          - else
            =t(:No_assessments)
        %td
          - if auth_to("course_admin")
            .btn-group.btn-group-sm
              %a.btn.btn-default{:href=>url("/course/#{c.id}/edit")}
                %span.glyphicon.glyphicon-pencil
                =t(:Edit)
              %a.btn.btn-default{:href=>url("/course/#{c.id}/delete")}
                %span.glyphicon.glyphicon-remove
                =t(:Delete)

